<section class="dummy-container mb-5"></section>
<section class="loadingContent" *ngIf="showSpinner" style="margin-bottom: 400px;">
    <div class="overlay">
        <div class="spinner-wrapper">
            <app-spinner message="Data Loading"></app-spinner>
        </div>
    </div>

    <div class="loaded-content" [class.blurred]="showSpinner">
    </div>
</section>
<section class="careers mb-5" *ngIf="!showSpinner">
    <div class="container">
        <div class="row heading-row justify-content-center">
            <div class="col-md-4 text-center fs-2">
                Current Vacancies
            </div>
        </div>
    </div>
</section>

<!-- NO JOBS RIGHT NOW -->
<section class="noJobs" *ngIf="!showSpinner">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-12">
                <p class="text-start text-break fs-6 lh-base text-para">
                    <span *ngIf="jobs && jobs.length < 1">We don't have any vacancy at the moment.</span>
                     Please submit your CV through
                    <a routerLink="/careers/job/application/new-application/0" class=" fw-bold link-primary">"Job
                        Applications"</a>. We will contact you soon
                    if your resume is matching with any upcoming jobs.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- JOBS AVAILABLE -->

<section class="jobs mb-5" *ngIf="!showSpinner && jobs && jobs.length > 0" style="background: #f9fafb;">
    <div class="container">
        <br>
        <div class="row">
            <!-- <div class="col-md-6" *ngIf="jobs && jobs.length">
                <p class="text-start text-break fs-6 lh-base">Number of Vacancies: <b>{{jobs.length}}</b></p>
            </div> -->
            <div class="col-md-12">
                <p class="text-start text-break fs-6 lh-base text-para">
                    We have the following vacancies at the moment. Please apply to the vacancy which is suitable for you. 
                    We will contact you soon if your resume is matching with the applied jobs.
                </p>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="container ">
                    <div class="d-grid gap-3" *ngFor="let job of jobs; let i = index;">
                        <button class="btn btn-primary job-btn" type="button" (click)="onShowJob(job)"
                        >{{job.name}}</button>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container border rounded-3" style="background-color: #fff;">
                    <br>
                    <section class="loadingContent" *ngIf="showSubSpinner" style="margin-bottom: 400px;">
                        <div class="overlay">
                            <div class="spinner-wrapper">
                                <app-spinner message="Data Loading"></app-spinner>
                            </div>
                        </div>

                        <div class="loaded-content" [class.blurred]="showSubSpinner">
                        </div>
                    </section>
                    <div *ngIf="!showSubSpinner">
                        <div *ngIf="showJobs && !showSubSpinner">
                            <div class="row align-items-start job-details-heading" *ngIf="showJobs.name">
                                <p class="fs-5"><u>{{showJobs.name}}</u></p>
                            </div>
                            <p>Experience: </p>
                            <ul>
                                <li>{{showJobs.experience}}</li>
                            </ul>
                            <button type="button" class="btn btn-primary apply-btn"
                                (click)="onSelectJob(showJobs)">Apply</button>
                            <!-- <div class="row align-items-start" *ngIf="showJobs && showJobs.salary">
                            <p class="fs-6"><span class="job-sub-heading">Salary</span><br>
                                {{showJobs.salary}}
                            </p>
                        </div>
                        <div class="row" *ngIf="showJobs && showJobs.jobType">
                            <div class="row align-items-start">
                                <p class="fs-6"><span class="job-sub-heading">Job Type</span></p>
                                <div *ngFor="let type of showJobs.jobType">
                                    {{type}}<br>
                                </div>
                            </div>
                        </div> -->

                        </div>
                        <hr style="box-shadow: 0px 0px 7px 3px blue;">
                        <br>
                        <div class="align-desc">
                            <div class="row align-items-start">
                                <p><span class="job-sub-heading">Full job Description</span></p>
                            </div>
                            <div class="row align-items-center">
                                <p>Detailed roles and Responsibilities</p>
                            </div>
                            <div class="row" *ngIf="showJobs && showJobs.responsibiltyDesc">
                                <div class="col-md-12">
                                    <p class="text-start text-break fs-6 lh-base" style="color: #6c757d;">
                                        {{showJobs.responsibiltyDesc}}
                                    </p>
                                </div>
                            </div>
                            <div class="row" *ngIf="showJobs && showJobs.responsibilities">
                                <div class="col-md-12">
                                    <ul>
                                        <li *ngFor="let duties of showJobs.responsibilities;">
                                            <p class="text-start text-break fs-6 lh-base" style="color: #6c757d;">
                                                {{duties}}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>

</section>


<!-- format of vacancy
{
    "id": 1103,
    "name": "Service Developer",
    "experience": "2 - 3years",
    "salary": "QAR 6,000/month",
    "jobType": ["Full-time", "Temporary", "Permanent"],
    "responsibiltyDesc": "We are looking for a skilled Web Developer who will be responsible for developing and/or designing websites for our company. You will be working alongside a team of other developers in creating, maintaining, and updating our websites. \r\n\n In order for you to succeed in this role, you will need to be proficient in JavaScript, HTML, CSS, and have solid knowledge and experience in programming applications.",
    "responsibilities": ["Website and software application designing, building, or maintaining.", 
      "Using scripting or authoring languages, management tools, content creation tools, applications, and digital media."] 
  } -->