<div class="container" >
    <div class="row">
        <div id="loader" [class.change-overlay]="changeOverlayLeft">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="loading"></div>
            <img class="spinner-img" src="../../../assets/images/logo.png">
        </div>

        <!-- <p class="spinner-message" *ngIf="message && message !== ''">
            {{message}}
        </p> -->
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div id="loader">
            <img class="spinner-img" src="../../../assets/images/logo.png">
        </div>
    </div>
</div> -->


