<section class="dummy-container mb-2"></section>
<section class="profileContnet mb-2" *ngIf="!showSpinner">
    <div class="container">
        <div class="row heading-row justify-content-center">
            <div class="col-md-4 text-center fs-2" style="color: #f05a2a;;">
                Our Company Profile
            </div>
        </div>
    </div>
</section>

<section class="loadingContent" *ngIf="showSpinner" style="margin-bottom: 400px;">
    <div class="overlay" >
        <div class="spinner-wrapper">
            <app-spinner message="Data Loading"></app-spinner>
        </div>
    </div>
    
    <div class="loaded-content" [class.blurred]="showSpinner">
    </div>
</section>
<section class="profile" *ngIf="!showSpinner">
    
    <ngx-extended-pdf-viewer [src]="'assets/InnovizProfile.pdf'" [useBrowserLocale]="true"
        [backgroundColor]="'linear-gradient(to right, #00093c, #2d0b00)'" [contextMenuAllowed]="false"
        [filenameForDownload]="'Innoviz Systems Profile'" [showScrollingButton]="false" pageViewMode="multiple"
        [showBookmarkButton]="false" [showOpenFileButton]="false" [showPropertiesButton]="false"
        [showRotateButton]="false">
    </ngx-extended-pdf-viewer>
</section>